body {
  background: rgba(242, 246, 248, 1);
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.card {
  box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
}

button:hover {
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

button {
  margin-right: 30px;
}

@media screen and (max-width: 991px) {
  .navbar-brand {
    width: 100%;
  }
}
